<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="bearerTokenRequired" type="Expenses.WPF.ExpensesClientMessageInspectorExtensionElement, Expenses.WPF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="bearerTokenRequiredBehavior">
          <bearerTokenRequired />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IExpenseService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost:58299/ExpenseService.svc"-->
      <endpoint address="http://rogreenvslive3.azurewebsites.net/expenseservice.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExpenseService"
          contract="ExpensesService.IExpenseService" name="BasicHttpBinding_IExpenseService"
                behaviorConfiguration="bearerTokenRequiredBehavior"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="aad:Tenant" value="rogreenvslive.onmicrosoft.com" />
    <add key="aad:ClientId" value="5bee5ad3-f9d1-4a27-82a2-03c2e7dcb838" />
    <add key="aad:RedirectUri" value="https://expensesclient" />
    <add key="aad:ResourceId" value="https://expensesservice" />
    <add key="aad:AADInstance" value="https://login.windows.net/{0}" />
  </appSettings>
</configuration>